---
import EditLink from "@astrojs/starlight/components/EditLink.astro";

import Pagination from "@astrojs/starlight/components/Pagination.astro";
import config from "virtual:starlight/user-config";

import { Icon } from "@astrojs/starlight/components";
---

<footer class="sl-flex">
  <div class="meta sl-flex">
    <EditLink />
  </div>
  <Pagination />

  {
    config.credits && (
      <div class="kudos sl-flex">
        2025 🚀 Start UI [web] From
        <a
          href="https://bearstudio.fr"
          target="_blank"
          rel="noopener noreferrer"
        >
          BearStudio
        </a>
        team
      </div>
    )
  }
</footer>

<style>
  @layer starlight.core {
    footer {
      flex-direction: column;
      gap: 1.5rem;
    }
    .meta {
      gap: 0.75rem 3rem;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 3rem;
      font-size: var(--sl-text-sm);
      color: var(--sl-color-gray-3);
    }
    .meta > :global(p:only-child) {
      margin-inline-start: auto;
    }

    .kudos {
      align-items: center;
      gap: 0.5em;
      margin: 1.5rem auto;
      font-size: var(--sl-text-xs);
      text-decoration: none;
      color: var(--sl-color-gray-3);
    }
    .kudos:hover {
      color: var(--sl-color-white);
    }
  }

  @layer starlight.components {
    .kudos :global(svg) {
      color: var(--sl-color-orange);
    }
  }
</style>
