---
import { Icon, Code } from "@astrojs/starlight/components";

interface Props {
  folder?: boolean;
  label: string;
}

const { folder, label } = Astro.props;
---

<h4 class="file-tree-title" id={label.replaceAll("/", "")}>
  {folder ? <Icon name="seti:folder" /> : <Icon name="document" />}
  <code>/{label}</code>
</h4>

<style>
  @layer starlight.components {
    .file-tree-title {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }
</style>
